:root {
    --blue: #2979ff;
    --purple: #d500f9;
    --orange: #ff9100;

}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 24px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-wrapper {
}

/* Color Buttons */

.colors-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.colors-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.blue-btn, .purple-btn, .orange-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
}

.blue-btn {
    border: 3px solid rgba(0,0,0,0.3);
    background-color: var(--blue);
}

.purple-btn {
    border: 3px solid rgba(0,0,0,0.3);
    background-color: var(--purple);
}

.orange-btn {
    border: 3px solid rgba(0,0,0,0.3);
    background-color: var(--orange);
}


.container {
    display: flex; 
    text-align: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.button {
    padding: 25px;
    background-color: #d500f9;
    cursor: pointer; 
    width: 120px;
    text-align:center;
    transition: background-color 1.5s;
}

.container2 {
    display:flex;
    justify-content: center;
}

.reset {
    text-align: center;
    padding: 10px;
    font-size: 0.75em;
    cursor: pointer;
}
/* button styles */

.boldButton, .italicButton, .underLineButton {
    transition: background-color;
}

.boldButton:hover, .italicButton:hover, .underLineButton:hover {
    background-color: #ff5bff;
}

/* Different Text Styles */

.text {
    font-weight: 400;
}

.normal {
    font-weight: 400; 
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}
